.terraform*
*terraform-provider-openstack*

*terraform.*

*cloud-init.yaml

*variables.tfvars
*kubeconfig.yaml
*sa-key-private.pem
*sa-key.json

week-3/app-1/terraform/l3-cluster.yml
week-3/app-2/cluster/operators/nginx-ingress.yaml

week-4*
