#cloud-config
hostname: ${hostname}

users:
  - default
  - name: ubuntu
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHnrrGGQt10IW/TREt+nCyoG
ssh_pwauth: false
disable_root: true

package_update: true
package_upgrade: false

packages:
  - python3
  - python3-apt
  - curl
  - ca-certificates
  - gnupg
  - lsb-release

write_files:
  - path: /etc/modules-load.d/k8s.conf
    content: |
      br_netfilter
      overlay

  - path: /etc/sysctl.d/99-kubernetes.conf
    content: |
      net.bridge.bridge-nf-call-iptables  = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.ipv4.ip_forward                 = 1

runcmd:
  - modprobe overlay
  - modprobe br_netfilter
  - sysctl --system
