- name: Ensure /etc/kubernetes exists
  file:
    path: /etc/kubernetes
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Add Docker GPG key
  ansible.builtin.shell: |
    install -m 0755 -d /etc/apt/keyrings
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg \
      | gpg --dearmor -o /etc/apt/keyrings/docker.gpg --yes
    chmod a+r /etc/apt/keyrings/docker.gpg
  args:
    creates: /etc/apt/keyrings/docker.gpg

- name: Add Docker repository
  ansible.builtin.shell: |
    echo "deb [arch=$(dpkg --print-architecture) \
    signed-by=/etc/apt/keyrings/docker.gpg] \
    https://download.docker.com/linux/ubuntu \
    $(. /etc/os-release && echo "$VERSION_CODENAME") stable" \
    > /etc/apt/sources.list.d/docker.list
  args:
    creates: /etc/apt/sources.list.d/docker.list



- name: Join the Kubernetes cluster
  shell: "{{ hostvars['cp-1']['join_command'] }}"
  args:
    creates: /etc/kubernetes/kubelet.conf
  register: join_result
  retries: 5
  delay: 15
  until: join_result.rc == 0

  when: 
    - hostvars['cp-1']['join_command'] is defined
    - inventory_hostname != 'cp-1'
