name: L3 GitOps Sync

on:
  push:
    branches:
      - main
    paths:
      - "week-3/**"

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger ArgoCD Sync
        run: |
          curl -k -X POST -H "Authorization: Bearer ${{ secrets.ARGOCD_TOKEN }}" \
          -H "Content-Type: application/json" \
          https://${{ secrets.ARGOCD_SERVER }}/api/v1/applications/cnpg-operator/sync
